@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Container-------------------------------------------------------------------*/
    /*section1---------------------------------*/
    .section1_y{
        background:url("images/activity2_bg.jpg")no-repeat center center;
        width:100vw;
        height:100vh;
        position:relative;
    }
    .text1_y{
        position:absolute;
        top:40%;
        left:53%;
        margin-left:-300px;
        margin-top:-78px; 
        color:#fff;
    }
    .bigLogo_y{
        -webkit-mask-image: url(images/logo_new.svg) ;
        -webkit-mask-repeat: no-repeat ;
        -webkit-mask-position: center ;
        background-color:#fff;
        width:526px;
        height:156px;   
    }
    .title_y{
        font-size:36px;
        margin: 20px 0 0 -58px;
        letter-spacing:10px;
    }
    .titleP_y{
        font-size:18px;
        margin: 0 0 0 90px;
    }
    
    .umbrellaR_y{
        width:285px;
        height:285px;
        position:absolute;
        top:60%;
        /* display:flex;
        align-items:center;
        justify-content:center;*/
    } 
    .umbrella1_y{
        position:absolute;
        top:-55%;
        left:30%;
        z-index:1;
        filter: drop-shadow(3px 0 15px rgba(0, 0, 0, .3)) ;
        animation:rotate 3s infinite alternate ease-out;       
    }
    @keyframes rotate{
        0%{
            transform:rotate(0);
        }
        100%{
            transform:rotate(360deg);
        }
    }
    .umbrella2_y{
        position:absolute;
        top:10%;
        left:335%;
        z-index:1;
        filter: drop-shadow(3px 0 15px rgba(0, 0, 0, .3)) ;
        animation:rotate 3.5s linear infinite ;
    }
    .umbrella3_y{
        position:absolute;
        top:-170%;
        left:355%;
        z-index:1;
        filter: drop-shadow(3px 0 15px rgba(0, 0, 0, .3)) ;
        animation:rotate 4s infinite;
    }
    .umbrellaF_y{
        width:285px;
        height:285px;
        /* position:absolute; */
        display:flex;
        align-items:center;
        justify-content:center;
    }
    /*section1---------------------------------*/ 
    .section2_y{
        background:url("images/activity2_bg2.jpg")no-repeat center center;
        width:100vw;
        height:100vh;
        position:relative;     
    }
    .main_y{
        text-align:center;
        padding:50px 0;
    }
    .mainTxt_y{
        font-size:18px;
    }
    /*Popular-----------------------*/
        section2.popular{
            overflow: auto ;
            height: auto ;
            padding-bottom: 20px ;
        }
        .cards{
            flex-wrap: wrap ;
        }
        .popular .card{
            max-width: 80% ;
            margin: 10px auto ;
        }
}
