@import url("sample_phone.css");
/*Mediaquery--------------------------------------------------------------*/
@media screen and (max-width: 376px) {
    /*--header--*/
    *{
        letter-spacing: 2px ;
    }
    /*--banner--*/
    .headerBg_a p {
        width: 70%;
        font-size: 24px;
        left: 10%;
        top: 30%;
        font-weight: 400;
        text-align: inherit;
        letter-spacing: 5px;
    }
    .headerBg_a img {
        width: 300%;
    }
    /*--sec1--*/
    .sec1_a {
        padding-top: 20px;
    }
    /*--step--*/
    .step_a {
        width: 88px;
        height: auto;
    }
    
    .desUp_a {
        padding-bottom: 4px;
    }
    .desDown_a {
        padding-top: 50px;
    }
    .des_a {
        font-size: 16px;
        width:85px;
    }
    .step-content_a {
        width: 20px;
        height: 20px;
    }
    .step1-content_a::after {
        margin-top: 45%;
    }
    .step-content_a::after {
        width: 54px;
        margin-top: 10px;
        margin-left: 27px;
    }
    .step_a:last-child .step-content_a::after {
        width: 30px;
        visibility: hidden;
    }
    .step_a:first-child .step-content_a {
        top:-1px;
    }
    .step_a:nth-child(3) .step-content_a {
        top:0;
    }
    .step1-content_a::before {
        visibility: hidden;
    }
    .step1-content_a::after {
        margin-top:8px;
    }
    .stepDown-content_a {
        top:46px;
    }
    .step-content_a i {
        left: 2px;
        font-size: 16px;
    }
    /*--total--*/
    .total_a {
        padding:30px;
    }
    /*--table--*/
    table {
        width: 75%;
        max-width: 75%;
    }
    .payNotive_a {
        width: 80%;
        max-width: 80%;
    }
    /*choose container*/
    .choose-container_a {
        flex-wrap: wrap;
    }
    .choose_a {
        height: auto;
        width: 200px;
    }
    .chooseDes_a {
        padding:0;
        padding-top:40px;
    }
    /*--button--*/
    .btn_a {
        display: block;
        margin: 10% 0;
        text-align: center;
    }
    /*--toTop--*/
    .toTop {
        width: 40px;
        height: 25px;
        margin: 20px auto;
    }
}