@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*------------------------------------------------------------------------------------------------------------------*/
    .headerBg_f{
        overflow: hidden;
    }
    .headerBg_f img{
        width: 300%;
        position: relative;
        left: -350px; 
    }
    .headerBg_f p{
        font-size: 24px;
        left: 10%;
        bottom: 30%;
        font-weight: 400;
    }
    section{
        margin-top: 20px;
    }
    /*p--------------------------*/
    .total_f {
        padding: 50px;
    }
    /*table--------------------------------*/
    table {
        width: 85%;
        max-width: 85%;
    }
    table tbody tr td {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
    table tbody tr td input{
        width: 200px;
        margin: 20px auto;
    }
     /*toTop*/
     .toTop{
        top: 0 ;
        margin-left: 0 ;
    }
}
