@import url("sample_phone.css");
@media screen and (max-width: 376px) {
    /*--header--*/
    *{
        letter-spacing: 2px ;
    }
    /*--banner--*/
    .headerBg_a p {
        width: 70%;
        font-size: 24px;
        left: 10%;
        top: 30%;
        font-weight: 400;
        text-align: inherit;
        letter-spacing: 5px;
    }
    .headerBg_a img {
        width: 300%;
    }
    /*--sec1--*/
    .sec1_a {
        padding-top: 20px;
    }
    /*--step--*/
    .step_a {
        width: 88px;
        height: auto;
    }
    .step_a span {
        color: #666;
    }
    .desUp_a {
        padding-bottom: 4px;
    }
    .desDown_a {
        padding-top: 50px;
    }
    .des_a {
        font-size: 16px;
        width:85px;
    }
    .step-content_a {
        width: 20px;
        height: 20px;
    }
    .step1-content_a::after {
        margin-top: 45%;
    }
    .step-content_a::after {
        width: 54px;
        margin-top: 10px;
        margin-left: 27px;
    }
    .step_a:last-child .step-content_a::after {
        width: 30px;
        visibility: hidden;
    }
    .step_a:first-child .step-content_a {
        top:-1px;
    }
    .step_a:nth-child(3) .step-content_a {
        top:0;
    }
    .step1-content_a::before {
        visibility: hidden;
    }
    .step1-content_a::after {
        margin-top:8px;
    }
    .stepDown-content_a {
        top:46px;
    }
    .step-content_a i {
        left: 2px;
        font-size: 16px;
    }
    /*--total--*/
    .total_a {
        padding:30px;
    }
    /*--table--*/
    
    /* table thead tr th {
        border-right: 1px solid #999;
    }
    
    .tablePhone_a {
        display: block;
        margin: 0 9%;
        margin-top:30px;
    }
    .tablePhone_a tbody tr td figure {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;

    }
    .tablePhone_a tbody tr td figure img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .tablePhone_a tbody .producCotent_a {
        height: 50px;
    }
    .tablePhone_a tbody tr td {
        border:1px solid #666;
    }
    .tablePhone_a tbody .producCotent_a td {
        border-top: none;
        border-bottom: none;
        height: 50px;
        text-align: left;
    }
    .tablePhone_a tbody .producCotentL_a  {
        border-bottom: 1px solid #666;
    }
    .tablePhone_a tbody .producCotent_a td p {
        width: 70%;
        margin-left: 15%;
    }
    .tablePhone_a tbody .producCotent_a td p span {
        margin-left: 18%;
    }
    .tablePhone_a tbody .producCotentM_a td p span {
        margin-left: 35%;
    } */
    /*--phone table--*/
    table {
        width: 81%;
        max-width: 81%;
    }
    .table_a {
        display: none;
    }
    .tablePhone_a {
        display: block;
        margin: 20px auto 0 auto;
        width: 81%;
        max-width: 81%;
        color:#666;

    }
    .listImg_a, .listContent_a {
        border: 1px solid #666;
    }
    .listContent_a {
        border-top: none;
    }
    .listTitle_a {
        border: 1px solid #666;
        background: #666;
        color:#fff;
        text-align: center;
        padding: 6px 0;
    }
    .listContent_a p {
        width: 70%;
        margin-left: 15%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .listContent_a p .listProduct_a {
        margin-left: 18%;
    }
    .listContent_a p .listCS_a {
        margin-left: 35%;
    }
    /*--table2--*/
    .table2_a {
        width: 81%;
        max-width: 81%;
        margin-left: 36px;
    }
    .table2_a .formContent_a {
        left: 13%;
    }
    .table2_a .formContent2_a {
        left: 13%;
    }
    .table2_a .formContent3_a {
        left: 13%;
    }
    /*--button--*/
    .btn_a {
        /* display: block; */
        flex-direction: column;
        width: 250px;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: center;
    }
    /*--toTop--*/
    .toTop{
        width: 40px;
        height: 25px;
        margin: 20px auto;
    }
}