@import url("sample_phone.css");
/*Mediaquery--------------------------------------------------------------*/
@media screen and (max-width: 376px) {
    /*--header--*/
    *{
        letter-spacing: 2px ;
    }
    /*--banner--*/
    .headerBg_a p {
        width: 70%;
        font-size: 24px;
        left: 10%;
        top: 30%;
        font-weight: 400;
        text-align: inherit;
    }
    .headerBg_a img {
        width: 300%;
    }
    /*--sec1--*/
    .sec1_a {
        padding-top: 20px;
    }
    /*--total--*/
    .total_a {
        padding:50px;
    }
    /*--phone table--*/
    .table_a {
        display: none;
    }
    .tablePhone_a {
        display: block;
        margin: 20px auto 0 auto;
        width: 75%;
        max-width: 75%;
        color:#666;

    }
    .listImg_a, .listContent_a {
        border: 1px solid #666;
    }
    .listContent_a {
        border-top: none;
    }
    .listTitle_a {
        border: 1px solid #666;
        background: #666;
        color:#fff;
        text-align: center;
    }
    .listContent_a p {
        width: 70%;
        margin-left: 15%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .listContent_a p .listProduct_a {
        margin-left: 18%;
    }
    .listContent_a p .listCS_a {
        margin-left: 35%;
    }
    /*None--------------------------------------------------------------------*/
    /*內容--------------*/
    .credit_f h6{
        margin-top: 30px;
    }
    .credit_f .pulse_f{
        font-weight: 400;
        font-size: 20px;
        width: 60%;
        padding: 90px 0;
    }
    /*active-----------------------------------------------------*/
    .active_f {
        width:100%;
    }
    .small_pic_f{
        display: none;
    }
    .active_f ul {
        flex-wrap: nowrap;
        justify-content: space-between;   
    }
    .active_f ul li {
        width: 183px;
        height: 183px;
        margin-right: 0;
        position: relative;
    }
    .active_f ul li .square_f blue{
        margin-right: 10px;
    }
    .square_f p {
        font-size: 20px;
    }
    .square_f .p2 {
        margin-top:-32px;
        margin-left:-70px;
    }
    .square_f .p4 {
        margin-top:-16px;
        margin-left:-80px;
    }
    /*--button--*/
    .btn_a {
        flex-direction: column;
        width: 230px;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: center;
    }
    /*--toTop--*/
    .toTop {
        top: 0 ;
        margin-left: 0 ;
    }
}