@media screen and (max-width:375px){
     /*Header------------------------------------------------------------------------*/
     header{
        padding: 0 20px ;
        padding-top: 28px ;
    }
    header h1{
        left: 0 ;
        background-color: #fff;
        transition: all .5s;
    }
    .h_ul li{
        padding: 0 8px ;
    }
    .h_ul li a{
        background-color: white;
        transition: all .5s;
    }
    .phone_hide_f{
        background-color: #666 !important;
    }
    /*Footer---------------------------------------------------------------------*/
    .f_content{
        flex-wrap: wrap ;
        padding: 20px 40px ;
    }
    .f_quarter{
        min-width: 100% ;
        border-right: none ;
        padding: 20px 0 ;
        position: relative ;
    }
    .f_quarter::before{
        content: "" ;
        border-bottom: 1px solid #FFF ;
        width: 40% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter.border_none::before{
        content: "" ;
        border-bottom: 1px solid transparent ;
        width: 50% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter p{
        text-align: center ;
    }
    .f_quarter a.aicon{
        width: 36px ;
        margin: 0 ;
        text-align: center ;
        margin: 15px ;
    }
    .foot{
        padding: 12px 0 ;
        letter-spacing: 2px ;
    }
    /*Nav----------------------------------------------------------------------*/
    nav{
        width: 100% ;
    }
    nav.navhide{
        right: -100% ;
    }
    /*Left aside--------------------------------------------------------------------*/
    .l_aside{
        display: none ;
    }
    /*Right aside-------------------------------------------------------------------*/
    .r_aside{
        display: none ;
    }
    /*------------------------------------------------------------------------------------------------------------------*/
    /* body{
        background: black;
    } */
    .headerBg_f{
        overflow: hidden;
    }
    .headerBg_f img{
        width: 300%;
        position: relative;
        left: -350px; 
    }
    .headerBg_f p{
        font-size: 24px;
        left: 10%;
        bottom: 30%;
        font-weight: 400;
    }
    /*table--------------------------------*/
    .table_f{
        display: none;
    }
    .forPhone_f{
        display: table;
    }
    table {
        width: 85%;
        max-width: 85%;
    }
    table thead tr th {
        border-right: 1px solid #666;
    }
    table tbody tr td {
        height: 85px;
        border: 1px solid #666;
        padding-left: 25px;
    }
    .small_f{
        height: 35px;
        font-weight: 800;
        padding-left:10px;
    }
    .invoice_f p{
        padding: 15px 5px 10px 5px ;
    }
    .invoice_f p span{
        letter-spacing: 1px;
    }
    .card_f input{
        width: 55px;
    }
}
