@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*------------------------------------------------------------------------------------------------------------------*/
    /* body{
        background: black;
    } */
    .headerBg_f{
        overflow: hidden;
    }
    .headerBg_f img{
        width: 300%;
        position: relative;
        left: -350px; 
    }
    .headerBg_f p{
        font-size: 24px;
        left: 10%;
        bottom: 30%;
        font-weight: 400;
    }
    /*table--------------------------------*/
    .table_f{
        display: none;
    }
    .forPhone_f{
        display: table;
    }
    table {
        width: 85%;
        max-width: 85%;
    }
    table thead tr th {
        border-right: 1px solid #666;
    }
    table tbody tr td {
        height: 85px;
        border: 1px solid #666;
        padding-left: 25px;
    }
    .small_f{
        height: 35px;
        font-weight: 800;
        padding-left:10px;
    }
    .invoice_f p{
        padding: 15px 5px 10px 5px ;
    }
    .invoice_f p span{
        letter-spacing: 1px;
    }
    .card_f input{
        width: 55px;
    }
    /*按鈕---------------------*/
    .btn_a {
        flex-direction: column;
        width: 230px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    /*toTop*/
    .toTop{
        width: 40px;
        height: 25px;
        margin: 20px auto;
    }
}
