@media screen and (max-width:414px){
     /*Header------------------------------------------------------------------------*/
     header{
        padding: 0 20px ;
        padding-top: 28px ;
    }
    header h1{
        left: 0 ;
        background-color: #fff;
        transition: all .5s;
    }
    .h_ul li{
        padding: 0 8px ;
    }
    .h_ul li a{
        background-color: white;
        transition: all .5s;
    }
    .phone_hide_f{
        background-color: #666 !important;
    }
    /*Footer---------------------------------------------------------------------*/
    .f_content{
        flex-wrap: wrap ;
        padding: 20px 40px ;
    }
    .f_quarter{
        min-width: 100% ;
        border-right: none ;
        padding: 20px 0 ;
        position: relative ;
    }
    .f_quarter::before{
        content: "" ;
        border-bottom: 1px solid #FFF ;
        width: 40% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter.border_none::before{
        content: "" ;
        border-bottom: 1px solid transparent ;
        width: 50% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter p{
        text-align: center ;
    }
    .f_quarter a.aicon{
        width: 36px ;
        margin: 0 ;
        text-align: center ;
        margin: 15px ;
    }
    .foot{
        padding: 12px 0 ;
        letter-spacing: 2px ;
    }
    /*Nav----------------------------------------------------------------------*/
    nav{
        width: 100% ;
    }
    nav.navhide{
        right: -100% ;
    }
    /*Left aside--------------------------------------------------------------------*/
    .l_aside{
        display: none ;
    }
    /*Right aside-------------------------------------------------------------------*/
    .r_aside{
        display: none ;
    }
    /*------------------------------------------------------------------------------------------------------------------*/
    /* body{
        background: black;
    } */
    .headerBg_f{
        overflow: hidden;
    }
    .headerBg_f img{
        width: 300%;
        position: relative;
        left: -350px; 
    }
    .headerBg_f p{
        font-size: 24px;
        left: 10%;
        bottom: 30%;
        font-weight: 400;
    }
    /*內容--------------*/
    .credit_f h6{
        margin-top: 30px;
    }
    .credit_f .pulse_f{
        font-weight: 400;
        font-size: 20px;
        width: 60%;
        padding: 90px 0;
    }
    /*按鈕---------------------*/
    .btn_f {
        display: flex;
        flex-direction: column-reverse;
        width: 200px;
        margin: 0 auto;
    }
    /*active-----------------------------------------------------*/
    .active_f {
        width:100%;
    }
    .small_pic_f{
        display: none;
    }
    .active_f ul {
        flex-wrap: nowrap;
        justify-content: space-between;   
    }
    .active_f ul li {
        width: 183px;
        height: 183px;
        margin-right: 0;
        position: relative;
    }
    .active_f ul li .square_f blue{
        margin-right: 10px;
    }
    .square_f p {
        font-size: 20px;
    }
    .square_f .p2 {
        margin-top:-32px;
        margin-left:-70px;
    }
    .square_f .p4 {
        margin-top:-16px;
        margin-left:-80px;
    }
}
