@import url("sample_phone.css");
@media screen and (max-width: 375px) {
    /*--header--*/
    *{
        letter-spacing: 2px ;
    }
    /*--banner--*/
    .headerBg_a p {
        width: 70%;
        letter-spacing: 5px;
        text-align: initial;
        font-size: 24px;
        left: 85%;
        bottom: 30%;
        font-weight: 400;
    }
    .headerBg_a img {
        width: 300%;
    }
    .warranty_a {
        width: 70%;
    }
    .notice_a {
        width: 75%;
    }
    .fix_a h1 {
        padding-top: 30px;
    }
    .umbrellaCard_a {
        width:100%;
        margin-bottom: 10px;
        height:auto;
        display: flex;
        flex-wrap: wrap;
    }
    .umbrellaImg_a {
        display: none;
    }
    .innerText_a {
        width: 100%;
    }
    .innerTextL_a {
        margin: 0 ;
    }
    .innerTextR_a {
        margin: 0 ;
    }
    .innerText_a p {
        text-align: center;
        margin: 0 auto;
    }
    .umbrellaSvg_a {
        position: relative;
        margin: 10px auto;
        top: 0;
        right: 0;
        left: 0;
    }
    /*toTop*/
    /* .toTop{
        top: -15px ;
        margin-left: 0 ;
    } */
    
}