@import url("sample_phone.css");
@media screen and (max-width: 375px) {
    /*--header--*/
    *{
        letter-spacing: 2px ;
    }
    /*--banner--*/
    .headerBg_a p {
        width: 70%;
        font-size: 24px;
        font-weight: 400;
        left:25%;
        top: 25%;
        letter-spacing: 5px;
        text-align: initial;
    }
    .headerBg_a img {
        width: 300%;
    }
    .return_a, .warranty_a {
        width: 75%;
    }
    .notice_a {
        width: 75%;
        padding: 30px 0 60px 0;
    }
    .fixNotice_a, .notice_a ul {
        padding-left: 7%;
    }

    
  
    
}