@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Header------------------------------------------------------------------------*/
    header{
        padding: 0 20px ;
        padding-top: 28px ;
        top: 0px ;
        transition: 0.5s ;
    }
    header h1{
        left: 0 ;
    }
    .h_ul li{
        padding: 0 8px ;
    }
    header.hide{
        top: -70px ;
    }
    /*Footer---------------------------------------------------------------------*/
    .f_content{
        flex-wrap: wrap ;
        padding: 20px 40px ;
    }
    .f_quarter{
        min-width: 100% ;
        border-right: none ;
        padding: 20px 0 ;
        position: relative ;
    }
    .f_quarter::before{
        content: "" ;
        border-bottom: 1px solid #FFF ;
        width: 40% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter.border_none::before{
        content: "" ;
        border-bottom: 1px solid transparent ;
        width: 50% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter p{
        text-align: center ;
    }
    .f_quarter a.aicon{
        width: 36px ;
        margin: 0 ;
        text-align: center ;
        margin: 15px ;
    }
    .foot{
        padding: 12px 0 ;
        letter-spacing: 2px ;
    }
    /*Nav----------------------------------------------------------------------*/
    nav{
        width: 100% ;
    }
    nav.navhide{
        right: -100% ;
    }
    /*Left aside--------------------------------------------------------------------*/
    .l_aside{
        display: none ;
    }
    /*Right aside-------------------------------------------------------------------*/
    .r_aside{
        display: none ;
    }
    /*Container-------------------------------------------------------------------*/
    /*Top-------------------------*/
    .full .umbrella{
        width: 80% ;
        bottom: -300px ;
        left: 0 ;
    }
    .full .umbrella h2{
        font-size: 18px ;
        letter-spacing: 3px ;
        font-weight: bold ;
        top: -10% ;
    }
    .sun{
        right: -1px ;
    }
    .intro{
        width: 100% ;
        height: 192px ;
        border-radius: 0 ;
        background-color: transparent ;
        top: 16% ;
    }
    .intro p{
        width: 65% ;
        text-align: justify ;
        line-height: 36px ;
    }
    .intro_r{
        left: -0% ;
    }
    .intro_l{
        right: 0% ;
    }
    .back{
        width: 70% ;
        bottom: -40% ;
    }
    .back_l{
        left: -36% ;
    }
    .back_r{
        right: -36% ;
    }
    /*Location----------------------*/
    #location .phone{
        width: 40% ;
        padding-top: 74% ;
        bottom: -18px ;
        right: -8% ;
    }
    #location .umbrella{
        width: 55% ;
        top: unset ;
        bottom: -2% ;
    }
    #location svg{
        width: 40px ;
    }
    #location .umbrella svg{
        transform: rotate(127deg) ;
        left: 30% ;
        top: -60px ;
    }
    #location .phone svg{
        top: -40px ;
        left: -35px ;
    }
    .content h3{
        font-size: 18px ;
        margin-bottom: 20px ;
    }
    .content p{
        line-height: 36px ;
    }
    #location .content{
        top: 10% ;
        left: 0 ;
    }
    /*Light-------------------------*/
    #light .content{
        left: 0 ;
        top: 10% ;
    }
    #light .scale{
        width: 80% ;
        padding-bottom: 60% ;
    }
     /*Popular-----------------------*/
     section#popular{
         overflow: auto ;
         height: auto ;
         padding-bottom: 20px ;
     }
     #popular h4{
         font-size: 18px ;
         margin-top: 70px ;
     }
     .cards{
         flex-wrap: wrap ;
     }
     #popular .card{
         max-width: 80% ;
         margin: 10px auto ;
     }
     .toTop{
         margin-top: 10px ;
         position: static ;
     }
}