@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Container-------------------------------------------------------------------*/
    /*banner_y--------------------------------------------------------------*/
        .banner_y{
            /* width: 162vw; */
            overflow: hidden;   
        }
        .bannerTxt_y{
        	color: #fff;
        	font-weight: bold;
            font-size: 24px;
            width: 75%;
            /* margin: 0 0 0 10%; */ 
            padding-right: 0;
        }
        .banner_y img{
            width:300%; 
            margin-right:10%;         
        }
    /*mainBox_y--------------------------------------------------------------*/
        .mainBox_y{
            display: block;
            width: 100%;
            margin: 36px auto 0 auto;           
        }
        .asideListTitle_y{
            font-weight: bold;
            font-size: 16px;
            color: #666666 ;
            text-align:center;
            padding: 0;
            border-bottom: none;
            display: flex;
            justify-content: center;
        }
        .asideListBox_y{
            width:100%;
            height: 100%;
            position: relative;
        }
        /*l_aside_y-------------------------------------*/
        .l_aside_y{
            width: 100;
            height: 100%;
            /* overflow: hidden; */
        }
        .asideA_y{
            display: block;
            color: #666;
        }
        .l_aside_y ul li{
            text-align: center;
            list-style: none;
            padding: 15px 10px;
            margin: 10px 0;
        }
        .l_aside_y ul li:hover{
            background: #e6e6e6;
        }
        /*手機375_memberList---*/   
        .fa-angle-down{
            padding-left: 25px;
            display: inline-block;
            font-size: 20px;
            color:#666;
            animation: bright .7s infinite alternate;
        }
        @keyframes bright{
            0%{
                filter: brightness(100%);
            }
            50%{
                filter: brightness(200%);
            }
            100%{
                filter: brightness(100%);
            }
        }
        .rotate{
            transform: rotateX(180deg);
            transform-origin: center center;
            transition: .5s; 
        }
        .l_ul_y{
            display: none;
        }
        .l_p_ul_y{
            /* max-height: 100px; */
            width: 100%;
            background-color: #ffffffcc;
            transition: all .3s ease-out ; 
            position: absolute;
            z-index: 5;
            /* overflow: hidden; */
        }
        .topMain_y{
            margin-top: 50px;
            margin-left: 0;
        }
        .topMain_ul_y{
            display: block;
        }
        .topMain_li_y{
            padding: 10px 2em;
            border-right: none;
            color: #666;
        }
        .li_span_y{
            color: #1f5572;
        }
        /*main_y-------------------------------------*/
        .main_y{
            text-align: center;
        }
        .main_y h2{
            margin: 50px auto 0 auto;
            font-weight: bold;
            color: #666;
        }
        /*radio---------------------------*/
        .dateRange_y ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .dateRange_y ul li{
            width: 50%;
            padding: 30px 0 0 0;
            color: #666;/*f改*/
        }
        .now_y{
            margin: 0 18px 0 -18px;
        }
        /*table-------------------------------------*/
        table {
            width: 75%;
            max-width: 75%;
        }
        table thead tr th {
            border-right: 1px solid #666;
        }
        .tableSave_y{
            display: none;
        }
        .tablePhone_a {
            display: block;
            margin: 0 9%;
            margin-top:70px;
            margin-bottom: 30px;
        }
        .phoneListDate_y td{
            height: 50px;
            border: 1px solid #666;
        }
        /*--phone table--*/
        .table_a {
            display: none;
        }
        div.tablePhone_a {
            display: block;
            margin: 20px auto 0 auto;
            width: 75%;
            max-width: 75%;
            color:#666;

        }
        .listImg_a, .listContent_a {
            border: 1px solid #666;
        }
        .listContent_a {
            border-top: none;
        }
        .listTitle_a {
            border: 1px solid #666;
            background: #666;
            color:#fff;
            text-align: center;
        }
        .listContent_a p {
            width: 90%;
            margin-left: 10%;
            height: 50px;
            display: flex;
            align-items: center;
        }
        .listContent_a p .listProduct_a {
            margin-left: 15%;
        }
        .listContent_a p .listCS_a {
            margin-left: 30%;
        }
        .listContent_a .listContentAD_a {
            justify-content: center;
            margin-left: 0;
        }
        .listCS_a i{
            font-style: normal ;
        }
        .producCotentL_a a {
            width: 24%;
            margin-left: 0;
            text-decoration: none;
            color: #1F5572;
        }
        /*--button--*/
        .btn_a {
            display: block;
            margin: 0 0;
            text-align: center;
            margin-bottom: 15%;
        }
        .buy_a{
            padding:10px 30px; 
        }
        /*active-----------------------------------------------------*/
        .active_f {
            width:100%;
        }
        .small_pic_f{
            display: none;
        }
        .active_f ul {
            flex-wrap: nowrap;
            justify-content: space-between;   
        }
        .active_f ul li {
            width: 183px;
            height: 183px;
            margin-right: 0;
            position: relative;
        }
        .active_f ul li .square_f blue{
            margin-right: 10px;
        }
        .square_f p {
            font-size: 20px;
        }
        .square_f .p2 {
            margin-top:-32px;
            margin-left:-70px;
        }
        .square_f .p4 {
            margin-top:-16px;
            margin-left:-80px;
        }
        /*--button--*/
        .btn_a {
            flex-direction: column;
            width: 230px;
            margin: 0 auto;
            padding-bottom: 20px;
            text-align: center;
        }
        /*toTop*/
        /* .toTop{
            top: 0 ;
            margin-left: 0 ;
    } */
}