@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Header------------------------------------------------------------------------*/
    header{
        padding: 0 20px ;
        padding-top: 28px ;
        /*width: 63%;*/  /*y改*/
    }
    header h1{
        left: 0 ;
    }
    .h_ul li{
        padding: 0 8px ;
    }
    /*Footer---------------------------------------------------------------------*/
    .f_content{
        flex-wrap: wrap ;
        padding: 20px 40px ;
    }
    .f_quarter{
        min-width: 100% ;
        border-right: none ;
        padding: 20px 0 ;
        position: relative ;
    }
    .f_quarter::before{
        content: "" ;
        border-bottom: 1px solid #FFF ;
        width: 40% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter.border_none::before{
        content: "" ;
        border-bottom: 1px solid transparent ;
        width: 50% ;
        height: 100% ;
        position: absolute ;
        margin: 0 auto ;
    }
    .f_quarter p{
        text-align: center ;
    }
    .f_quarter a.aicon{
        width: 36px ;
        margin: 0 ;
        text-align: center ;
        margin: 15px ;
    }
    .foot{
        padding: 12px 0 ;
        letter-spacing: 2px ;
    }
    /*Nav----------------------------------------------------------------------*/
    nav{
        width: 100% ; 
    }
    nav.navhide{
        right: -100% ;
    }
    /*Container-------------------------------------------------------------------*/
    /*banner_y--------------------------------------------------------------*/
        .banner_y{
            /* width: 162vw; */
            overflow: hidden;   
        }
        .bannerTxt_y{
        	color: #fff;
        	font-weight: bold;
            font-size: 24px;
            width: 75%;
            margin: 0 0 0 10%;
        }
        .banner_y img{
            width:300%; 
            margin-right:10%;         
        }
    /*mainBox_y--------------------------------------------------------------*/
        .mainBox_y{
            display: flex;
            width: 85%;
            margin: 35px auto 0 auto;           
        }
        .asideListTitle_y{
            font-weight: bold;
            font-size: 20px;
            color: #666666 ;
            text-align:left;
            padding: 0 0 35px 10px;
            border-bottom: 1px solid #666;
        }
        .l_aside_y{
            flex: 1;
        }
        .main_y{
            flex: 5;
            /* margin-left:7%;  */
        }
        /*l_aside_y-------------------------------------*/
        .asideA_y{
            color: #666;
        }
        .l_aside_y ul li{
            list-style: none;
            padding: 15px 10px;
            margin: 40px 0;
        }
        .l_aside_y ul li:hover{
            background: #e6e6e6;
        }
        .topMain_y{
            margin-left: 5%;
        }
        .topMain_ul_y{
            display: flex;
        }
        .topMain_li_y{
            padding: 0 2em;
            border-right: 2px solid #666;
            color: #666;
        }
        .li_span_y{
            color: #1f5572;
        }
        /*main_y-------------------------------------*/
        .main_y{
            text-align: center;
        }
        .main_y h2{
            margin: 50px auto;
            font-weight: bold;
            color: #666;
        }
        .table_infor_y{
            width: 45%;
            margin: 0 auto;
            color: #666; 
        }
        .l_td_y{
            width:32%;
            height: 30px; 
            text-align: left;
            padding-top:2.5em;
        }
        .r_td_y{
            width:68%;
            height: 30px;
            text-align: left;
            padding-top:2.5em;
            border-bottom: 1px solid #000;
        }
        .l_td1_y{
            width:20%;
            height: 30px; 
            text-align: left;
        }
        .r_td1_y{
            width:80%;
            height: 30px;
            text-align: left;
            border-bottom: 1px solid #000;
        }
        /*active-----------------------------------------------------*/
        .active_f {
            width:100%;
        }
        .small_pic_f{
            display: none;
        }
        .active_f ul {
            flex-wrap: nowrap;
            justify-content: space-between;   
        }
        .active_f ul li {
            width: 183px;
            height: 183px;
            margin-right: 0;
            position: relative;
        }
        .active_f ul li .square_f blue{
            margin-right: 10px;
        }
        .square_f p {
            font-size: 20px;
        }
        .square_f .p2 {
            margin-top:-32px;
            margin-left:-70px;
        }
        .square_f .p4 {
            margin-top:-16px;
            margin-left:-80px;
        }  
}