@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Container-------------------------------------------------------------------*/
    /*banner_y--------------------------------------------------------------*/
        .banner_y{
            /* width: 162vw; */
            overflow: hidden;   
        }
        .bannerTxt_y{
        	color: #fff;
        	font-weight: bold;
            font-size: 24px;
            width: 75%;
            /* margin: 0 0 0 10%; */ 
            padding-right: 0;
        }
        .banner_y img{
            width:300%; 
            margin-right:10%;         
        }
    /*mainBox_y--------------------------------------------------------------*/
        .mainBox_y{
            display: block;
            width: 100%;
            margin: 36px auto 0 auto;           
        }
        .asideListTitle_y{
            font-weight: bold;
            font-size: 16px;
            color: #666666 ;
            text-align:center;
            padding: 0;
            border-bottom: none;
            display: flex;
            justify-content: center;
        }
        .asideListBox_y{
            width:100%;
            height: 100%;
            position: relative;
        }
        /*l_aside_y-------------------------------------*/
        .l_aside_y{
            width: 100;
            height: 100%;
            /* overflow: hidden; */
        }
        .asideA_y{
            display: block;
            color: #666;
        }
        .l_aside_y ul li{
            text-align: center;
            list-style: none;
            padding: 15px 10px;
            margin: 10px 0;
        }
        .l_aside_y ul li:hover{
            background: #e6e6e6;
        }
        /*手機375_memberList---*/   
        .fa-angle-down{
            padding-left: 25px;
            display: inline-block;
            font-size: 20px;
            color:#666;
            animation: bright .7s infinite alternate;
        }
        @keyframes bright{
            0%{
                filter: brightness(100%);
            }
            50%{
                filter: brightness(200%);
            }
            100%{
                filter: brightness(100%);
            }
        }
        .rotate{
            transform: rotateX(180deg);
            transform-origin: center center;
            transition: .5s; 
        }
        .l_ul_y{
            display: none;
        }
        .l_p_ul_y{
            /* max-height: 100px; */
            width: 100%;
            background-color: #ffffffcc;
            transition: all .3s ease-out ; 
            position: absolute;
            z-index: 5;
            /* overflow: hidden; */
        }
        .topMain_y{
            margin-top: 50px;
            margin-left: 0;
        }
        .topMain_ul_y{
            display: block;
        }
        .topMain_li_y{
            padding: 10px 2em;
            border-right: none;
            color: #666;
        }
        .li_span_y{
            color: #1f5572;
        }
        /*main_y-------------------------------------*/
        .main_y{
            text-align: center;
        }
        .main_y h2{
            margin: 50px auto 0 auto;
            font-weight: bold;
            color: #666;
        }
        /*radio---------------------------*/
        .dateRange_y ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .dateRange_y ul li{
            width: 50%;
            padding: 30px 0 0 0;
            color: #666;/*f改*/
        }
        .now_y{
            margin: 0 18px 0 -18px;
        }
        /*table-------------------------------------*/
        table {
            width: 75%;
            max-width: 75%;
        }
        table thead tr th {
            border-right: 1px solid #666;
        }
        .table_history_y{
            display: none;
        }
        .tablePhone_a {
            display: block;
            margin: 0 9%;
            margin-top:70px;
            margin-bottom: 30px;
        }
        .phoneListDate_y td{
            height: 50px;
            border: 1px solid #666;
        }
        .tablePhone_a tr td{
             border: 1px solid #666;
             
        }
        .tablePhone_a tbody tr td figure {
            position: relative;
            width: 300px;
            height: 300px;
            overflow: hidden;

        }
        .tablePhone_a tbody tr td figure img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .tablePhone_a tbody .producCotent_a {
            height: 50px;
        }
        .tablePhone_a tbody .producCotent_a td {
            border-top: none;
            border-bottom: none;
            height: 50px;
            text-align: left;
        }
        .tablePhone_a tbody .producCotentL_a  {
            border-bottom: 1px solid #666;
        }
        .tablePhone_a tbody .producCotent_a td p {
            width: 70%;
            margin-left: 15%;
        }
        .tablePhone_a tbody .producCotent_a td p span {
            margin-left: 18%;
        }
        .tablePhone_a tbody .producCotentM_a td p span {
            margin-left: 35%;
        }
        .producCotentL_a a {
            width: 24%;
            margin-left: 15%;
            text-decoration: none;
            color: #1F5572;
        }
        /*toTop*/
        .toTop{
            top: 0 ;
            margin-left: 0 ;
    }
}