@import url("sample_phone.css");
@media screen and (max-width:375px){
    *{
        letter-spacing: 2px ;
    }
    /*Container-------------------------------------------------------------------*/
    /*section1---productMain_y---------------------------------------------------------------*/
        .productMain_y{          
            display: block; 
            height: 170vh;
            position: relative;
        }
        .productBg_y{
        	display: none;
        }
        .productBg_phone_y{
            overflow: hidden;
            display: block;
            position: absolute;
        }
        .productBg_phone_y img{
            width:620%;
            margin:-50px;          
        }
        .box_y{
            display: block;
            background-color: #fff;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            position: absolute;
            top: 12%;
            left: 50%;
            margin-left:-90px;
        }
        .b_cloud img{
            width: 100%;
            position: absolute;
            bottom: 0 ;
        }
    /*productInfor_y---------------------------------------------*/
         .productInforBox_y{
            width: 100%;
            height: 150vh;
            display: fixed;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .productInfor_y{
            width: 80%;
            background: #d8d8d8;
            margin: -50px auto;
            text-align: center;
            order: 1;
        }
        .productTxt_y{
        	color: #808080;
        	font-weight: bold; 
            text-align: center;
            font-size: 18px;
        }
        /*hide button*/
        .buyForm1_y{
            display: none;
        }
        .buyForm2_y{
            display: block;
        }
        .qtyBox_y{
            display: flex;
            align-items: center;
            justify-content:center;  
            text-align: center;   
            margin-top: 1em;     
        }
        .buyBtn_y{
            width: 80%;
            padding: 2% 10%;
            margin-top: 1em;
        }
        .cartBtn_y, .addBtn_y{
            width: 80%;
            padding: 2% 10%;
            margin-top: 1em;
        }
    /*productSlideBox_y-----------------------------------------*/
        .productSlideBox_y{        
			width: 88%;
            position: relative;
            margin: 0 auto;
            order: 0;
        } 
        .slidePage_y{
            margin-top: -15px;
        }
        .slidePage_y li{
			width: 13px;
			height: 13px;
			background-color: #1F5572;
			margin:5px;
		}
    /*productPrice_y----------------------------------------------*/
        .productPrice_y{
            width: 80%;
            padding: 0;
            margin: -30px auto 0 auto;
            order: 2;
            order: 2;
            text-align: center;
        }
    /*section2---productTag_y---------------------------------------------------------------*/
        .productTag_y{
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .tagFour_y{
            display: flex;
            flex-wrap: wrap;
        }
        .tagFour_y li{
            font-size: 16px;
            padding: 10px 30px;
            border-bottom: 1px solid #666;
        }
        .tagDetail_y, .tagSize_y, .tagFeature_y{
            flex-grow: 3;
        }
        .tagLocal_y{
            flex-grow: 1;
        }
    /*tagTxtBox_y----------------------------------------------*/
        .tagTxtBox_y{
            width: 80%;
            height: 85vh;
            margin: 5% auto;
            overflow: hidden;
        }
        .tagTxt_y{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .tagTxt1_y{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .tagDetail_y{
            font-size:16px;
            color:#1F5572;
        }
        .tagTxt_y img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .tagFeatureContent_y{
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-top:20px;
        }
        .tagFeatureContent_y li{
            width: 60%;
            padding: 0;
        }
        .tagFeatureContent_y p{
            color: #666;
            padding: 10px 0 0 0;
        }
        .tagFeatureContent_y img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .phone_none_y{
            display: none;
        }
    /*Popular-----------------------*/
        section#popular{
            overflow: auto ;
            height: auto ;
            padding-bottom: 20px ;
        }
        .cards{
            flex-wrap: wrap ;
        }
        #popular .card{
            max-width: 80% ;
            margin: 10px auto ;
        }
    /*lineMiddle_y-----------------------*/
        .line_y{
            height: 50px;
        }
        /*--toTop--*/
        .toTop{
            margin-top: 20px ;
            position: static ;
         }
}
