@charset "utf-8";

/* ------------------------------------------------------------------------- */
/*		print styles		*/
/* ------------------------------------------------------------------------- */

/* base
------------------------------------------------- */

body{
	background-image:none;
	background-color:#fff;
}
a{
	text-decoration:underline;
}
table{
	page-break-inside: avoid;
}

/* IE zoom
/* ---------------------------------------------- */

/*for IE6 or older*/
* html body {
	zoom:0.7;
}
/*for IE7*/
*+html body {
	zoom:1;
}