@charset "utf-8";

/* ------------------------------------------------------------------------- */
/*		common styles		*/
/* ------------------------------------------------------------------------- */


/* link
------------------------------------------------- */

a{
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

/* common
------------------------------------------------- */
html,body{
	height:100%;
}
body{
	font-family:verdana, arial,'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
	line-height:1.2;
	-webkit-text-size-adjust:none;
	background-color:#000;
	/* height:3000px; */
}
#wall{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:rgba(0,0,0,0);
}

#loading{
	width:100%;
	height:100%;
	position:fixed;
	z-index:1000;
	background-color:#000;
}
#loading_nero_logo,
#loading_tranpo_logo{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-15px;
}
#loading_nero_logo{
	margin-left:-220px;
}
#loading_tranpo_logo{
	margin-left:55px;
}
#load_info{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-24px;
	margin-left:-24px;
}
#loading .unsupported_message{
	color:#fff;
	position:absolute;
	width:440px;
	left:50%;
	top:50%;
	margin-left:-220px;
	margin-top:40px;
	line-height:1.5;
	
}
#loading .unsupported_message a{
	color:#fff;
	text-decoration:underline;
}

#container{
	width:100%;
	height:100%;
	position:fixed;
}

#bg,
#bg_button{
	position:absolute;
	top:-700px;
	/*z-index:0;*/
	width:120%;
	height:2000px;
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}
#bg_button{
	z-index:200;
	background-color:rgba(0,0,0,0);/* for IE9,10 */
}
#bg_button.minimum_tranpo,
#bg_button.minimum_nero{
	height:1px;
	margin-left:268px;
}
#bg_button.minimum_tranpo #bg_black_button{
	height:1px;
}
#bg_button.minimum_nero #bg_orange_button{
	height:1px;
}
#bg_button.minimum_nero #bg_black_button{
	background-color:#000;
}
#bg_button.minimum_tranpo #bg_orange_button{
	background-color:#ff7a11;
}
#bg_button.minimum_nero #bg_black_button:hover{
	background-color:#222;
}
#bg_button.minimum_tranpo #bg_orange_button:hover{
	background-color:#ff7000;
}
#bg_button #bg_orange_button img{
	position:absolute;
	left:15px;
	top:50%;
	margin-top:20px;
	display:none;
}
#bg_button #bg_black_button img{
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-100px;
	display:none;
}

#bg_black,
#bg_orange,
#bg_black_button,
#bg_orange_button{
	width:50%;
	height:2000px;
	float:left;
	overflow:hidden;
	position:relative;
}
#bg_black_button,
#bg_orange_button{
	cursor:pointer;
}
#bg_black .image,
#bg_orange .image{
	width:2600px;
	height:1560px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-1300px;
	margin-top:-780px;
	background-color:rgba(0,0,0,0);
}
#bg_black .image{
	-moz-transform: rotate(-15deg) translateY(100px);
	-webkit-transform: rotate(-15deg) translateY(100px);
	-o-transform: rotate(-15deg) translateY(100px);
	-ms-transform: rotate(-15deg) translateY(100px);
	transform: rotate(-15deg) translateY(100px);
}
#bg_orange .image{
	-moz-transform: rotate(-15deg) translateY(-100px);
	-webkit-transform: rotate(-15deg) translateY(-100px);
	-o-transform: rotate(-15deg) translateY(-100px);
	-ms-transform: rotate(-15deg) translateY(-100px);
	transform: rotate(-15deg) translateY(-100px);
}
#bg_black{
	background-color:#000;
}
#bg_orange{
	background-color:#fa8529;
}
#bg_black .image{
	background:#000 url(../img/nero_bg2.jpg) no-repeat center center;
}
#bg_orange .image{
	background:url(../img/tranpo_bg.jpg) ;
}
#bg_black.noimage,
#bg_black.noimage .image{
	background:none ;
}
#bg_orange.noimage,
#bg_orange.noimage .image{
	background:none ;
}

.inner_bg_black{
	width:200%;
	height:100%;
	position:absolute;
	margin-left:-50%;
	background:#000 url(../img/nero_bg2.jpg) no-repeat center center;
}
.inner_bg_orange{
	width:200%;
	height:100%;
	position:absolute;
	margin-left:-50%;
	background:url(../img/tranpo_bg.jpg) ;
}

#nero_big_rod{
	position:absolute;
	left:-1430px;
	top:-1000px;
	z-index:60;
}
#tranpo_big_rod{
	position:absolute;
	right:-1090px;
	bottom:-950px;
	z-index:60;
}
#nero_big_rod img,
#tranpo_big_rod img{
	position:absolute;
	display:block;
}
#tranpo_big_rod img{
	bottom:0;
	right:0;
}

#nero_lure,
#tranpo_lure{
	display:none;
}
#nero_lure_01{
	position:absolute;
	z-index:65;
	left:-50px;
	bottom:-160px;
}
#nero_lure_02{
	position:absolute;
	z-index:65;
	left:-150px;
	bottom:-300px;
}
#nero_lure_03{
	position:absolute;
	z-index:65;
	right:350px;
	bottom:-160px;
}
#tranpo_lure_01{
	position:absolute;
	z-index:65;
	right:150px;
	top:-150px;
}
#tranpo_lure_02{
	position:absolute;
	z-index:65;
	left:200px;
	top:-150px;
}
#tranpo_lure_03{
	position:absolute;
	z-index:65;
	left:50px;
	top:-250px;
}
#nero_lure_01 .lure_inner,
#nero_lure_02 .lure_inner,
#nero_lure_03 .lure_inner,
#tranpo_lure_01 .lure_inner,
#tranpo_lure_02 .lure_inner,
#tranpo_lure_03 .lure_inner{
	position:absolute;
}

#nero_lure_02,
#tranpo_lure_02,
#nero_lure_02 .lure_inner,
#tranpo_lure_02 .lure_inner,
#nero_lineup_lure,
#tranpo_lineup_lure{
	width:100%;
}
#nero_lineup_lure > div,
#tranpo_lineup_lure > div{
	position:absolute;
}
#nero_lineup_lure > div > img,
#tranpo_lineup_lure > div > img{
	display:block;
	opacity:0;
	position:absolute;
}

#nero_lineup_lure > div:nth-child(2){
	right:350px;
	top:-80px;
}
#nero_lineup_lure > div:nth-child(3){
	top:0px;
}
#nero_lineup_lure > div:nth-child(4){
	right:300px;
	top:100px;
}
#nero_lineup_lure > div:nth-child(5){
	top:-70px;
}
#nero_lineup_lure > div:nth-child(6){
	right:400px;
	top:-100px;
}
#nero_lineup_lure > div:nth-child(7){
	top:100px;
}
#nero_lineup_lure > div:nth-child(8){
	right:430px;
	top:250px;
}
#nero_lineup_lure > div:nth-child(10){
	right:450px;
	top:0px;
}
#nero_lineup_lure > div:nth-child(11){
	top:-80px;
}

#tranpo_lineup_lure > div:nth-child(2){
	right:350px;
	top:-100px;
}
#tranpo_lineup_lure > div:nth-child(3){
	top:50px;
}
#tranpo_lineup_lure > div:nth-child(4){
	right:400px;
	top:50px;
}
#tranpo_lineup_lure > div:nth-child(5){
	top:-60px;
}


#nero_next{
	position:absolute;
	bottom:30px;
	left:145px;
	z-index:70;
	cursor:pointer;
	display:none;
}
#tranpo_next{
	position:absolute;
	top:85px;
	right:145px;
	z-index:70;
	cursor:pointer;
	display:none;
}
#tranpo_next img,
#tranpo_next img{
	display:block;
}

.header{
	position:absolute;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	height:67px;
	border-bottom:1px solid rgba(255,255,255,0.15);
	display:none;
}
.header .logo{
	position:absolute;
	left:20px;
	top:15px;
}
.global_nav{
	position:absolute;
	left:280px;
	top:0;
	overflow:hidden;
}
.global_nav li{
	float:left;
	margin:0 25px;
	background-color:rgba(0,0,0,0);
}
.global_nav li a{
	display:block;
	padding:25px 0px 26px;
	outline:none;
}
.global_nav li a:hover{
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.global_nav li.current a{
	border-bottom:1px solid #fff;
}
.header .jackall_logo{
	position:absolute;
	right:20px;
	top:24px;
}
#tranpo_header .logo{
	left:120px;
	top:20px;
}
#tranpo_header .global_nav{
	left:400px;
}

#nero_video_wrap,
#tranpo_video_wrap{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
}
#nero_video_wrap{
	background-color:#000;
}
#nero_video_wrap .video{
	position:absolute;
	opacity:0.7;
}
#nero_video_wrap .dot{
	background:url(../img/dot.gif);
	width:100%;
	height:100%;
	position:absolute;
	opacity:0.8;
}
#tranpo_video_wrap{
	background-color:#df6200;
}
#tranpo_video_wrap .video{
	position:absolute;
	opacity:0.4;
}
#tranpo_video_wrap .dot{
	background:url(../img/dot.gif);
	width:100%;
	height:100%;
	position:absolute;
	opacity:0.8;
}

/* index
------------------------------------------------- */
#index{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.index_panel{
	width:50%;
	height:100%;
	position:absolute;
	top:0;
}
#nero_index.index_panel{
	left:0;
}
#tranpo_index.index_panel{
	left:50%;
}
.index_panel h2,
.index_panel h1{
	text-align:center;
}
.index_panel h1{
	margin-top:70px;
}
.index_copy{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-110px;
	margin-left:-128px;
	width:258px;
}
.index_copy_inner{
	position:absolute;
	opacity:0;
}
#nero_index .index_copy{
	/* left:62%; */
	left:66%;
}
#tranpo_index .index_copy{
	left:30%;
}
#nero_index{
	background:url(../img/nero_top_en.png) no-repeat left center;
}
#tranpo_index{
	background:url(../img/tranpo_top_en.png) no-repeat right center;
}
#top_jackall_logo{
	position:absolute;
	left:50%;
	bottom:25px;
	margin-left:-69px;
}

/* ---------------------------------------------- Nero --------------------------------------------------- */

/* nero concept
------------------------------------------------- */
#nero_concept{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	/* z-index:-1; */
}
#nero_concept_copy{
}
#nero_concept_copy,
#nero_concept_copy ol,
#nero_concept_copy li{
	position:absolute;
	width:100%;
	height:100%;
}
#nero_concept_copy > li > div{
	position:absolute;
}

#nero_concept_copy > li > div > img{
	display:block;
	position:relative;
	top:0;
	opacity:0;
}
#nero_concept_copy_en_01,
#nero_concept_copy_en_02,
#nero_concept_copy_en_03,
#nero_concept_copy_en_04{
	/* opacity:0.5; */
}
#nero_concept_copy_en_01{
	right:-2px;
	top:88px;
}
#nero_concept_copy_en_02{
	left:30px;
	bottom:125px;
}
#nero_concept_copy_en_03{
	left:270px;
	top:110px;
}
#nero_concept_copy_en_04{
	right:105px;
	bottom:-3px;
}

#nero_concept_copy_en_01 img,
#nero_concept_copy_en_02 img,
#nero_concept_copy_en_03 img,
#nero_concept_copy_en_04 img{
	left:-30px;
}

#nero_concept_copy_01{
	right:20px;
	top:235px;
}
#nero_concept_copy_02{
	left:253px;
	bottom:86px;
}
#nero_concept_copy_03{
	left:266px;
	top:240px;
}
#nero_concept_copy_04{
	right:105px;
	bottom:142px;
}
#nero_concept_copy_01 img,
#nero_concept_copy_02 img,
#nero_concept_copy_03 img,
#nero_concept_copy_04 img{
	left:30px;
}

/* nero design
------------------------------------------------- */
#nero_design{
	position:absolute;
	width:100%;
	height:100%;
	top:100%;
	left:-20%;
	display:none;
}
#nero_design .inner_design{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
#nero_design ol{
	position:absolute;
	left:35%;
	width:2000px;
	height:2000px;
	z-index:70;
}
#nero_design ol li{
	/* width:320px; */
	width:70px;
	height:100%;
	margin-right:30px;
	overflow:hidden;
	float:left;
	background-color:#000000;
	position:relative;
	cursor:pointer;
	
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}
#nero_design ol li:hover{
	-webkit-box-shadow: 0 0 10px 0 #777;
	-moz-box-shadow: 0 0 10px 0 #777;
	box-shadow: 0 0 10px 0 #777;
}
#nero_design ol li .image{
	position:absolute;
	left:50%;
	top:50%;
}
#nero_design ol li .image img{
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
#nero_design ol li .copy{
	position:absolute;
	left:50%;
	top:50%;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
        display:none;
}

#nero_design_01 .copy{
	margin-top:30px;
	margin-left:-130px;
}
#nero_design_01 .image{
	margin-top:-300px;
	margin-left:-245px;
}
#nero_design_02 .copy{
	margin-top:-250px;
	margin-left:-150px;
}
#nero_design_02 .image{
	margin-top:-40px;
	margin-left:-220px;
}
#nero_design_03 .copy{
	margin-top:60px;
	margin-left:-130px;
}
#nero_design_03 .image{
	margin-top:-280px;
	margin-left:-270px;
}
#nero_design_04 .copy{
	margin-top:-200px;
	margin-left:-150px;
}
#nero_design_04 .image{
	margin-top:-80px;
	margin-left:-220px;
}
#nero_design_05 .copy{
	margin-top:60px;
	margin-left:-130px;
}
#nero_design_05 .image{
	margin-top:-300px;
	margin-left:-270px;
}


/* nero lineup
------------------------------------------------- */
#nero_lineup{
	position:absolute;
	height:100%;
	width:100%;
	top:100%;
	left:-20%;
	display:none;
}
#nero_lineup .inner_lineup{
	position:absolute;
	top:68px;
	width:100%;
	background:url(../img/nero_lineup_line.png) no-repeat center center;
}
#nero_lineup .position{
	position:absolute;
	top:25px;
	left:50%;
	margin-left:-250px;
}
#nero_lineup .position span{
	display:block;
	width:5px;
	height:5px;
	border-radius:5px;
	background-color:#999999;
	float:left;
	margin-right:8px;
}
#nero_lineup .position span.current{
	background-color:#b3a069;
}
#nero_lineup .lineup_title{
	position:absolute;
	left:0;
	top:40px;
	left:50%;
	margin-left:-250px;
	z-index:1;
}
#nero_spinning{
	opacity:0;
}
#nero_lineup .lineup_list_wrap{
	width:500px;
	height:100%;
	margin:0 auto;
	position:relative;
}
#nero_lineup .lineup_prev,
#nero_lineup .lineup_next{
	position:absolute;
	width:64px;
	height:64px;
	border-radius:64px;
	background-color:#b3a069;
	cursor:pointer;
	z-index:70;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#nero_lineup .lineup_prev:hover,
#nero_lineup .lineup_next:hover{
	background-color:#caae5d;
}
#nero_lineup .lineup_prev{
	background:#b3a069 url(../img/nero_arrow_left.png) no-repeat center center;
	left:-130px;
	top:50%;
	margin-top:-32px;
}
#nero_lineup .lineup_next{
	background:#b3a069 url(../img/nero_arrow_right.png) no-repeat center center;
	right:-130px;
	top:50%;
	margin-top:-32px;
}
#nero_lineup .lineup_list{
	height:100%;
	width:10000px;
	position:absolute;
}
#nero_lineup .lineup_box{
	width:500px;
	height:100%;
	float:left;
	margin-right:200px;
	position:relative;
}
#nero_lineup .lineup_image{
	width:200px;
	position:absolute;
	left:-50px;
	top:50%;
	margin-top:-320px;
}
#nero_lineup .lineup_text{
	width:300px;
	color:#fff;
	position:absolute;
	left:170px;
	top:50%;
	margin-top:-150px;
}
#nero_lineup .lineup_text a{
	color:#fff;
}
#nero_lineup .lineup_text h3{
	margin-bottom:30px;
}
#nero_lineup .lineup_text p{
	margin-bottom:30px;
	line-height:1.8;
}
#nero_lineup .lineup_text .fit_lure h4{
	width:80px;
	float:left;
	font-weight:normal;
	color:#999;
	margin:5px 0;
}
#nero_lineup .lineup_text .fit_lure ul{
	width:200px;
	float:right;
	border-left:1px solid #666;
	padding-left:19px;
}
#nero_lineup .lineup_text .fit_lure ul li{
	margin:5px 0;
}
#nero_lineup .lineup_text .fit_lure ul li a{
	color:#dfbf60;
	background:url(../img/nero_link_icon.gif) no-repeat left center;
	padding-left:12px;
	display:inline-block;
}

/* nero spec
------------------------------------------------- */
#nero_spec{
	position:absolute;
	height:100%;
	width:100%;
	left:-20%;
	top:100%;
}
#nero_spec .inner_spec{
	position:absolute;
	width:960px;
	left:50%;
	top:50%;
	margin-left:-480px;
	margin-top:-200px;
	z-index:80;
}
#nero_spec .spec_table th,
#nero_spec .spec_table td{
	padding:10px 0;
	font-size:92%;
}
#nero_spec .spec_table th{
	color:#b3a069;
	border-top:1px solid rgba(179,160,105,0.5);
	border-bottom:1px solid rgba(179,160,105,0.5);
}
#nero_spec .spec_table td{
	color:#fff;
	border-bottom:1px dotted rgba(255,255,255,0.3);
}
#nero_back_top{
	cursor:pointer;
	width:69px;
	margin:30px auto 0;
}
#nero_back_top img{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#nero_back_top img:hover{
	position:relative;
	top:-3px;
}

/* ---------------------------------------------- Tranpo --------------------------------------------------- */

/* tranpo concept
------------------------------------------------- */
#tranpo_concept{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	/* z-index:-1; */
}

#tranpo_concept_copy{
}
#tranpo_concept_copy,
#tranpo_concept_copy ol,
#tranpo_concept_copy li{
	position:absolute;
	width:100%;
	height:100%;
}
#tranpo_concept_copy > li > div{
	position:absolute;
}

#tranpo_concept_copy_01,
#tranpo_concept_copy_02,
#tranpo_concept_copy_03,
#tranpo_concept_copy_04{
	width:100%;
	left:0;
	top:50%;
	text-align:center;
	margin-left:-30px;
	opacity:0;
}
#tranpo_concept_copy_01{
	margin-top:-134px;
}
#tranpo_concept_copy_02{
	margin-top:-66px;
}
#tranpo_concept_copy_03{
	margin-top:-95px;
}
#tranpo_concept_copy_04{
	margin-top:-63px;
}
#tranpo_concept_copy_en_01,
#tranpo_concept_copy_en_02,
#tranpo_concept_copy_en_03,
#tranpo_concept_copy_en_04{
	width:100%;
	left:0;
	bottom:0;
	font-family: 'Titillium Web', sans-serif;
	font-size:300px;
	font-style:italic;
	color:rgba(255,112,0,0.3);
	letter-spacing:100px;
	text-indent:-50px;
	opacity:0;
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-o-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
#tranpo_concept_copy_en_01{
	text-indent:-50px;
}
#tranpo_concept_copy_en_02{
	text-indent:-150px;
}
#tranpo_concept_copy_en_04{
	text-indent:-200px;
}

/* tranpo design
------------------------------------------------- */
#tranpo_design{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	top:-100%;
	left:20%;
}
#tranpo_design .inner_design{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
#tranpo_design ol{
	width:100%;
	height:100%;
	position:absolute;
	z-index:69;
}
#tranpo_design ol li{
	position:absolute;
	cursor:pointer;
}
#tranpo_design_01{
	left:43%;
	top:55%;
}
#tranpo_design_02{
	left:75%;
	top:60%;
}
#tranpo_design_03{
	left:21%;
	top:30%;
}
#tranpo_design_04{
	left:65%;
	top:25%;
}
#tranpo_design_05{
	left:17%;
	top:75%;
}

#tranpo_design ol li .image{
	position:absolute;
	left:-85px;
	top:-85px;
	width:170px;
	height:170px;
	border-radius:433px;
	overflow:hidden;
}
#tranpo_design ol li:hover .image{
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	opacity:0.8;
}

#tranpo_design_01 .image{
	background-color:rgba(225,99,0,0.8);
}
#tranpo_design_02 .image{
	background-color:rgba(255,255,255,0.8);
}
#tranpo_design_03 .image{
	background-color:rgba(225,99,0,0.8);
}
#tranpo_design_04 .image{
	background-color:rgba(0,0,0,0.8);
}
#tranpo_design_05 .image{
	background-color:rgba(0,0,0,0.8);
}

#tranpo_design ol li .image img{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
}
#tranpo_design_01 .image img{
	margin-top:-250px;
	margin-left:-300px;
}
#tranpo_design_02 .image img{
	margin-top:-280px;
	margin-left:-250px;
}
#tranpo_design_03 .image img{
	margin-top:-300px;
	margin-left:-300px;
}
#tranpo_design_04 .image img{
	margin-top:-280px;
	margin-left:-300px;
}
#tranpo_design_05 .image img{
	margin-top:-300px;
	margin-left:-330px;
}

#tranpo_design ol li .copy{
	position:absolute;
	display:none;
}
#tranpo_design_01 .copy{
	left:0px;
	top:20px;
}
#tranpo_design_02 .copy{
	left:-220px;
	top:-10px;
}
#tranpo_design_03 .copy{
	left:-50px;
	top:-30px;
}
#tranpo_design_04 .copy{
	top:-30px;
	left:-20px;
}
#tranpo_design_05 .copy{
	left:0px;
	top:-50px;
}

/* tranpo lineup
------------------------------------------------- */
#tranpo_lineup{
	position:absolute;
	height:100%;
	width:100%;
	top:-100%;
	left:20%;
	display:none;
}
#tranpo_lineup .inner_lineup{
	position:absolute;
	top:68px;
	width:100%;
}
#tranpo_lineup .position{
	position:absolute;
	top:25px;
	left:100px;
}
#tranpo_lineup .position span{
	display:block;
	width:5px;
	height:5px;
	border-radius:5px;
	background-color:#ffca8d;
	float:left;
	margin-right:8px;
}
#tranpo_lineup .position span.current{
	background-color:#fff;
}
#tranpo_lineup .lineup_title{
	position:absolute;
	left:0;
	top:40px;
	left:90px;

}
#tranpo_spinning{
	opacity:0;
}
#tranpo_lineup .lineup_list_wrap{
	width:500px;
	height:100%;
	margin:0 auto;
	position:relative;
}
#tranpo_lineup .lineup_prev,
#tranpo_lineup .lineup_next{
	position:absolute;
	width:64px;
	height:64px;
	border-radius:64px;
	background-color:#b3a069;
	cursor:pointer;
	z-index:70;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#tranpo_lineup .lineup_prev:hover,
#tranpo_lineup .lineup_next:hover{
	background-color:#f66a16;
}
#tranpo_lineup .lineup_prev{
	background:#f44f0e url(../img/tranpo_arrow_left.png) no-repeat center center;
	left:-110px;
	top:50%;
	margin-top:-32px;
}
#tranpo_lineup .lineup_next{
	background:#f44f0e url(../img/tranpo_arrow_right.png) no-repeat center center;
	right:-110px;
	top:50%;
	margin-top:-32px;
}
#tranpo_lineup .lineup_list{
	height:100%;
	width:10000px;
	position:absolute;
	top:50%;
	margin-top:-240px;
}
#tranpo_lineup .lineup_box{
	width:500px;
	height:500px;
	border-radius:500px;
	background-color:rgba(255,255,255,0.8);
	float:left;
	margin-right:200px;
	position:relative;
}
#tranpo_lineup .lineup_box:before{
	content:"";
	display:block;
	width:500px;
	height:500px;
	border-radius:500px;
	border:20px solid rgba(255,255,255,0.2);
	position:absolute;
	left:-20px;
	top:-20px;
}
#tranpo_lineup .lineup_image{
	width:200px;
	position:absolute;
	left:-30px;
	top:50%;
	margin-top:-350px;
}
#tranpo_lineup .lineup_text{
	width:300px;
	color:#000;
	position:absolute;
	left:150px;
	top:50%;
	margin-top:-160px;
}
#tranpo_lineup .lineup_text h3{
	margin-bottom:30px;
}
#tranpo_lineup .lineup_text p{
	margin-bottom:30px;
	line-height:1.8;
}
#tranpo_lineup .lineup_text .fit_lure h4{
	width:80px;
	float:left;
	font-weight:normal;
	color:#999;
	margin:5px 0;
}
#tranpo_lineup .lineup_text .fit_lure ul{
	width:200px;
	float:right;
	border-left:1px solid #d7c8b5;
	padding-left:19px;
}
#tranpo_lineup .lineup_text .fit_lure ul li{
	margin:5px 0;
}
#tranpo_lineup .lineup_text .fit_lure ul li a{
	color:#e16300;
	background:url(../img/tranpo_link_icon.gif) no-repeat left center;
	padding-left:12px;
	display:inline-block;
}



/* tranpo spec
------------------------------------------------- */
#tranpo_spec{
	position:absolute;
	width:100%;
	height:100%;
	top:-100%;
	left:20%;
	display:none;
}
#tranpo_spec .inner_spec{
	position:absolute;
	width:960px;
	left:50%;
	top:50%;
	margin-left:-480px;
	margin-top:-150px;
	z-index:80;
}
#tranpo_spec .spec_table th,
#tranpo_spec .spec_table td{
	padding:10px 0;
	font-size:92%;
}
#tranpo_spec .spec_table th:first-child,
#tranpo_spec .spec_table td:first-child{
	padding-left:10px;
}
#tranpo_spec .spec_table th{
	background-color:rgba(223,98,0,0.8);
	color:#fff;
}
#tranpo_spec .spec_table td{
	background-color:rgba(255,255,255,0.8);
	color:#000;
	border-bottom:1px dotted rgba(0,0,0,0.3);
}
#tranpo_back_top{
	cursor:pointer;
	width:69px;
	margin:0 auto 30px;
}
#tranpo_back_top img{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#tranpo_back_top img:hover{
	position:relative;
	top:3px;
}
